---
title: bernadetterobertsisnotmyguru.com
---


<div class="slideshow-wraper">
  <%= partial "partials/quotes" %>
</div> 
<!-- End of SlideShow-->

<div class="welocome-panel">
  <div class="container module">

    <h1>Welcome friend.</h1> 
    <p>
      Here you can find audio samples of the most original spiritual thinker of all time.
    </p>

    <p>
      The samples were lifted thematically from a non-copyrighted recording of one of her last discussion groups. 
    </p>
    <p>
      Thanks to the lovely sisters of Rising Appalachia for putting their beautiful song “Downtown” into the public domain. (I think of “Downtown” as the deepest center of my soul.)  
    </p>
    <p>
      Feel free to download these recordings and send them to friends who might be interested.  
    </p>
    <p>
      You probably want to listen to each one multiple times. I guarantee you, <b>she is not saying what you think she is saying!</b>
    </p>
    <br>
    <strong><%= link_to 'Read More...', '/info.html', :relative => true %></strong>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row">

    <div class="column-book">
      <h1>Buy now! </h1>
      <% link_to 'https://www.amazon.com/gp/product/B084B3HPBM?pf_rd_p=ab873d20-a0ca-439b-ac45-cd78f07a84d8&pf_rd_r=8ENZWJTKGZZK07EBW0HJ   ', target: 'blank?' do %>
      <%= image_tag 'book_1.jpg', :class => 'book_image' %>
      <% end %>
      <br>
     <button>
        <% link_to "../pdf_file/a_study_guide_50.pdf", target: 'blank?' do %>
          Download 50% free
        <% end %> 
      </button>
    </div>

    <div class="column-book">
      <h1>Buy now! </h1>
      <% link_to 'https://www.amazon.com/Saving-Christianity-Christians-free-all-ebook/dp/B0848XDK8G/ref=sr_1_2?crid=NDUEH4NNIFD1&keywords=saving+christianity&qid=1580745459&sprefix=saving+christianity%2Cdigital-text%2C236&sr=8-2   ', target: 'blank?' do %>
      <%= image_tag 'book_2.jpg', :class => 'book_image' %>
      <% end %>
      <br>
       <button>
        <% link_to "../pdf_file/saving_christianity.pdf", target: 'blank?' do %>
          Download 50% free
        <% end %> 
      </button>

    </div>
    <br>
    <br>
    <div class="column-book">
      <h1>Buy now! </h1>
      <% link_to 'https://www.amazon.com/Gods-Big-Experiment-BERNADETTE-ROBERTS-ebook/dp/B0848S946N/ref=sr_1_1?keywords=god%27s+big+experiment&qid=1580745508&sr=8-1', target: 'blank?' do %>
      <%= image_tag 'book_3.jpg', :class => 'book_image' %>
      <% end %>
      <br>
       <button>
        <% link_to "../pdf_file/revised_50.pdf", target: 'blank?' do %>
          Download 50% free
        <% end %> 
      </button>
    </div>

    <div class="column-book">
      <h1>Buy now! </h1>
      <% link_to 'https://www.amazon.com/El-Gran-Experimento-Dios-BERNADETTE-ebook/dp/B0848X2QMZ/ref=sr_1_1?keywords=gran+experimento+de+dios&qid=1580745553&sr=8-1', target: 'blank?' do %>
      <%= image_tag 'book_4.jpg', :class => 'book_image' %>
      <% end %>
      <br>
       <button>
        <% link_to "../pdf_file/el_experimento.pdf", target: 'blank?' do %>
          Descargar 50% gratis
        <% end %> 
      </button>
    </div>

  </div>
  <hr>
</div>

<!-- End of wellcome panel-->
<div class="container module">
  <a href="http://bernadetteroberts.blogspot.com/p/self-published-works.html" target="blank?"><h1>Visit her Website</h1></a>
</div>


<div class="container">

  <audio src="" controls id="audioPlayer">
    Sorry, your browser doesn't support html5!
  </audio>
  <br>
  <ul id="playlist">
    <li class="current-song">
      <%= link_to 'Outside the box', '../audio_samples/outside_the_box.mp3' %>
    </li>
    <li>
      <%= link_to 'God in nature', '../audio_samples/god_in_nature.mp3' %>
    </li>
    <li>
      <%= link_to 'Heaven', '../audio_samples/heaven.mp3' %>
    </li>
    <li>
      <%= link_to 'Incarnation', '../audio_samples/incarnation.mp3' %>
    </li>
    <li>
      <%= link_to 'Jesus', '../audio_samples/jesus.mp3' %>
    </li>
    <li>
      <%= link_to 'Logos', '../audio_samples/logos.mp3' %>
    </li>
    <li>
      <%= link_to 'Eucharist', '../audio_samples/eucharist.mp3' %>
    </li>
    <li>
      <%= link_to 'Self emptying', '../audio_samples/self_emptying.mp3' %>
    </li>
  </ul>
  <hr>
</div>

<div class="container module">
  <blockquote>
    For people who are interested in this new way of looking at Christianity, I don’t recommend you buy her final masterpiece The Real Christ and start reading. Read her Autobiography first, then at least one of her other books so you know where she is coming from. Her DVD’s are masterful works of staggering spiritual integrity.
    <br>
    <br>
    <a href="http://bernadetteroberts.blogspot.com/p/booksmanuscripts_22.html" target="blank?">
     <strong> <h1>Visit her Website</h1></strong>
    </a>
  </blockquote>
</div>


